<footer class="index-footer">
  <a href="{{BASE}}index.html" class="index-footer__logo-link">
    <img src="{{BASE}}img/logo.png" alt="YSCine" class="index-footer__logo">
  </a>
  <nav class="index-footer__nav" aria-label="푸터 메뉴">
    <a href="{{BASE}}index.html" data-nav="home">홈</a>
    <a href="{{BASE}}movies/movies.html" data-nav="movies">영화</a>
    <a href="{{BASE}}tv/tv.html" data-nav="tv">TV</a>
    <a href="{{BASE}}event/list.html" data-nav="events">이벤트</a>
    <a href="{{BASE}}board/list.html" data-nav="community">커뮤니티</a>
  </nav>
  <p class="index-footer__copy">© 2026 YSCine. All rights reserved.</p>
  <p class="index-footer__credit">
    Powered by <a href="https://www.themoviedb.org/" target="_blank" rel="noopener">TMDB</a>
  </p>
</footer>
